<!DOCTYPE html>

{% set meta = {
  title: 'Привет!',
  lang: 'ru'
} %}

<html lang={{meta.lang}}>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="assets/favicon/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>{{meta.title}}</title>
        
        <link rel="stylesheet" type="text/css" href="styles/index.css">
        <link rel="stylesheet" type="text/css" href="styles/vendor/slick.css"/>
        <link rel="stylesheet" type="text/css" href="styles/vendor/magnific-popup.css"/>
        
    </head>
    <body>
        <header class="header" itemscope itemtype="http://schema.org/Organization">
            <div class="b-contacts">
                <h1 class="title"><span itemprop="name">Репродукцио</span></h1>
                <p class="description">Оффлайн-магазин репродукций шедевров мирового искусства</span></p>
                <br/>
                <br/>
                <p itemprop="address" class="address">Санкт-Петербург, ул. Адмирала Черокова, 18</p>
                <p itemprop="phone" class="phone">+7 812 960-22-01</p>
                <p itemprop="email" class="email">shop@reproduct.io</p>
            </div>
            <div class="b-slider-main js-slider-for">
                    {% for i in 1..5 %}
                        <div class="b-slider-main__item">
                            <img src="assets/img/{{i}}.jpg" alt="">
                            <div class="b-slider-main__description">
                                <div class="bg">
                                    <p class="name">Красивая картина {{i}}</p>
                                    <p class="params">130 x 120 см, масло </p>
                                    <p class="author">Вольфганг Бетховен</p>
                                    <p class="price">3 000 Р</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            </div>
            <div class="b-slider-main-nav js-slider-nav">
                {% for i in 1..5 %}
                <div class="b-slider-main-nav__item">
                    <img src="assets/img/{{i}}.jpg" alt="">
                </div>
                {% endfor %}
            </div>
            
        </header>

        <div class="b-popular">
            <div class="b-popular__description">
                <p class="title">Популярное</p>
                <p>Нестареющая классика и бестселлеры</p>
            </div>
            
            <div class="b-popular-slider js-slider-popular">
                {% for i in 1..5 %}
                <div class="b-popular-slider__item">
                    <img src="assets/img/{{i}}.jpg" alt="">
                    <div class="b-popular-slider__description">
                        <div class="bg">
                            <p class="name">Красивая картина {{i}}</p>
                            <p class="params">130 x 120 см, масло </p>
                            <p class="author">Вольфганг Бетховен</p>
                            <p class="price">3 000 Р</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <footer class="footer">
            <div class="b-footer-info">
            <div class="b-footer-info__top">
                <p class="title">Написать нам</p>
                <p class="description">Заполните форму справа<br>или отправьте письмо на shop@reproduct.io</p>     
            </div>
                <div class="b-footer-info__bottom">
                    <p>Репродукцио, 2019</p>
                    <a class="js-link-popup" href="#rules">Правила обработки персональных данных</a>
                </div>
                
            </div>

            <div class="form-send">
                <p class="green">Отправлено</p>
            </div>
            <form id="theForm" class="form-custom" onsubmit="return false;">
                <input class="form-custom__input" type="email" name="email" type="text" required placeholder="Эл. почта">
                <textarea class="form-custom__area" name="comment" required cols="30" rows="5" placeholder="Сообщение"></textarea>
                <input class="form-custom__button" type="submit" value="Отправить сообщение">
            </form>
        </footer>

        <div id="rules" class="mfp-hide white-popup-block">
            <p>Основные правила организации</p>
            <p>Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании форм развития.
            </p>
            <p>Товарищи! новая модель организационной деятельности играет важную роль в формировании направлений прогрессивного развития. Задача организации, в особенности же укрепление и развитие структуры требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что сложившаяся структура организации требуют определения и уточнения новых предложений. Повседневная практика показывает, что сложившаяся структура организации представляет собой интересный эксперимент проверки систем массового участия.
            </p>
            <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции требуют определения и уточнения существенных финансовых и административных условий. С другой стороны дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке форм развития. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития.
            </p>
            <p>Равным образом новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий. С другой стороны консультация с широким активом в значительной степени обуславливает создание систем массового участия. Равным образом дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки новых предложений. Товарищи! рамки и место обучения кадров позволяет выполнять важные задания по разработке форм развития.
            </p>
        </div>

        <script src="scripts/vendor/vue/vue.min.js"></script>
        <script src="scripts/vendor/jquery/jquery-3.4.1.min.js"></script>
        <script src="scripts/vendor/slick/slick.min.js"></script>
        <script src="scripts/vendor/magnific-popup/magnific-popup.min.js"></script>
        <script src="scripts/bundle.js"></script>
        <script src="scripts/api.js"></script>
    </body>
</html>